.card_container{
    display: flex;
    flex-direction: column;
    width: 266px;
    height: 366px;    
    position: relative;    
    padding: 5px;
    overflow: hidden;
    
}
.card_container_img img{
    position: relative;
    width: 100%;
    height: 256px;
    border-radius: 5px;
    
   
}

.card_container_img img:hover{
    border-radius: 5px;
    border: 3px solid #FFF;
    
    
}  
.card_informacoes_venda span{
    color: #78839D;
    font-size: .8rem;
    
}
.card_informacoes_venda{
    position: absolute;
    bottom: 0px;
    
    
}