
<div class="card_container">
    <div class="card_container_img">
        <img src="https://cdn.awsli.com.br/600x450/1624/1624175/produto/225398322/ea-fc24-dw22k62hwe.jpg" alt="">
        <app-label-card [labelCardTexto]="'PS5'"></app-label-card>
    </div>
    <div class="card_informacoes_venda">
        <span>PRE-ORDER</span>
        <div class="card_nome_jogo">Edição Utimate EA SPORTS FC 24 para ps4 e ps5</div>
        <app-label-card-valor-desconto></app-label-card-valor-desconto>
    </div>
</div>