.card_container{
    display: flex;
    flex-direction: column;
    width: 266px;
    height: 366px;
    background-color: antiquewhite;
    position: relative;
    border: 1px solid black;
}
.card_container_img img{
    position: relative;
    width: 100%;
    height: 266px;
    border: 5px solid rgb(62, 196, 0);
}
.card_container_img img{
    
    width: 100%;
    height: 266px;
    
}
.card_informacoes_venda{
    position: absolute;
    bottom: 0px;
    
}