<div class="footer_container">

    <div class="top">
        <div class="logo">
            <img src="https://www.svgrepo.com/show/331538/playstation.svg" alt="">
        </div>        
        <i class='bx bx-globe' ></i>
        <samp>País/Região: Brasil</samp>
    </div>
   
       <div class="meio">
           <div class="col1">
              <span><a>Suporte</a></span> 
              <span><a>Política de privacidade</a></span> 
              <span><a>Termos de uso do site</a></span> 
              <span><a>Mapa do site</a></span> 
              <span><a>PlayStation Studios</a></span> 
              <span><a>Legal</a></span> 
              <span><a>Sobre a SIE</a></span> 
           </div>
           <div class="col2">
              <span><a>Termos de serviço da PSN</a></span> 
              <span><a>Política de cancelamento da PS Store</a></span> 
              <span><a>Avisos de saúde</a></span> 
              <span><a>Sobre as classificações</a></span> 
           </div>
           <div class="col3">
              <span><a>Facebook</a></span> 
              <span><a>Twitter</a></span> 
              <span><a>YouTube</a></span> 
              <span><a>Instagram</a></span> 
              <span><a>Aplicativo para Android</a></span> 
              <span><a>Aplicativo para iOS</a></span> 
           </div>
           <div class="col4">

           </div>
       </div>
       <div class="baixo">
           © 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.
       </div>
</div>
