.menu-psn{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
align-items: center;
width: 100%;
min-height: 64px;
background-color: rgb(255, 255, 255);
padding: 0 1rem 0 1rem;

-webkit-box-shadow: 1px 37px 37px -30px rgba(0,0,0,0.76);
-moz-box-shadow: 1px 37px 37px -30px rgba(0,0,0,0.76);
box-shadow: 1px 37px 37px -30px rgba(0,0,0,0.76);
/* position: fixed;
top: 0; */

}
.menu-psn .psn-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
}

.menu-psn .psn-logo span{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}
.menu-psn .menus ul li a{
    color: #050505;
    cursor: pointer;
    font-weight: bold;
}

.menu-psn .psn-logo img{
    width: auto;
    height: 30px;
    margin-right: .9rem;

}
.menu-psn .menus{
    display: flex;
    flex-direction: row;
}
.menu-psn .menus ul{
    display: flex;
    flex-direction: row;
    gap: 2.312rem;
}